@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.container{
        margin-top: 70px;
        margin-left: 300px;
}
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	margin-left: -110px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 150px;
	width: 400px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border: black;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	transition: color;
}

.close:hover{
    color: #666;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: rgba(2, 7, 93, 1);
}

#projectTitle{
    font-weight: bold;
    font-size: 42px;
    margin: 0 0 0 0;
}

#projectDesc{
    font-weight: 400;
    margin: 0 0 0 0;
    color: rgba(40, 94, 164, 1);
}

.studentContribution{
    background-color: rgba(2, 7, 93, 1);
    margin: 0 30px 0 0;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

#subtitle{
    font-size: 24px;
    margin: 30px 0px 10px 0px;
}

li{
    color: white;
    position: relative;
    margin: 50px 0;
    list-style: none;
}

#percentBar{
    color: rgba(2, 7, 93, 1);
}

#percentBar:before{
    content:" ";
    position: absolute;
    top: calc(100%+10px);
    left: 0;
    width: 95%;
    height: 15px;
    background-color: rgba(40, 94, 164, 0.8);
    border-radius: 1000px;
}

.movingBar{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    background-color: rgba(146, 174, 221, 1);
    border-radius: 1000px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: bar;
}

@keyframes bar{
    0% {width: 0px;}
}

.grid-container{
    display: grid;
    max-width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
}

.grid-item{
    background-color: rgba(146, 174, 221,1);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
    padding : 10px 15px 10px 15px;
    border-radius: 10px;
    margin: 0 0 200px 0;
}

#task-name{
    text-align: center;
}

.grid-item:hover{
    background-color: rgba(40, 94, 164,1);
    color: white;
    transition-duration: 0.3s;
    transform: scale(1.05);
}

.grid-item:hover #task-name{
    color: white;
}

@media (min-width: 600px){
    .grid-container{grid-template-columns: repeat(2, 1fr);}
}

@media (min-width: 900px){
    .grid-container{grid-template-columns: repeat(3, 1fr);}
}

@media (min-width: 1200px){
    .grid-container{grid-template-columns: repeat(4, 1fr);}
}

#box{
    text-decoration:none;
    color: rgba(2, 7, 93, 1);
}

button{
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 5px 5px 5px 5px;
    width: 250px;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 0px;
}

.button-center{
    text-align: center;
}

#create-task:hover{
    background-color: rgba(96, 99, 105,1);
}

#create-task:active{
    transform: scale(0.75);
}

#create-task{
    background-color: navy;
    color: white;
    bottom: 3%;
    left: 50%;
    margin-left: -90px;
    position: fixed;
}

#removeStudent, #addStudent{
    background-color: navy;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    border-radius: 30px;
    border: none;
}

#deleteProject{
    background-color: rgba(222, 60, 75, 1);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    border-radius: 30px;
    border: none;
}

#addStudent:hover, #removeStudent:hover{
    background-color: rgba(211,211,211,1);
    color: navy;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}

#deleteProject:hover{
    background-color: rgba(211,211,211,1);
    color: rgba(222, 60, 75, 1);
    box-shadow: 0 5px 5px 0 rgba(222, 60, 75,0.24), 0 5px 10px 0 rgba(222, 60, 75,0.19);
}

#addStudent:active, #removeStudent:active, #deleteProject:active{
    transform: scale(0.75);
}