<!DOCTYPE html>
<html lang="en">
{% extends "newbase.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Assign Students{% endblock %}</title>
</head>
{% block content %}
<body>
    <style>
        .container{
            margin-top: 70px;
            margin-left: 300px;
        }
    </style>
    {% block header %} Assign Students to {{ Project.title }} {% endblock %}
    <div class="container">
        <form class="assign" action = "{% url 'assign-students' project_id=Project.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Assign</button>
        </form>
        <h4 style="color: red">{{ err }}</h4>
    </div>
</body>
{% endblock %}
</html>