<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create Task{% endblock %}</title>
</head>

{% block content %}
<body>
<style>
    .container{
        margin-top: 70px;
        margin-left: 300px;
    }
</style>
{% block header %} Close Task Confirmation {% endblock %}
    <div class="container">
        <h1>Are you sure you want to close this task?</h1><br>
        <form method="get" action="">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Yes" name="yesbtn"/>
        </form>
        <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-primary" onclick="location.href = '/dashboard/task-info/{{Task.id}}/'">Cancel</button>
         </form>
    </div>
</body>
{% endblock %}

</html>