<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create Task{% endblock %}</title>
</head>

{% block content %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'createTask/createTask.css' %}">
{% block header %} Create Task for {{ project }}{% endblock %}
    <div class="container">

        <form action="{% url 'create-task' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <b>{{field.label}} : </b><br>
                    <span id="field">{{field}}</span>
                </p>
            {% endfor %}
            <h4 style="color: red">{{ err }}</h4>
            <div style="text-align: center;">
                <input type="submit" value="Create" id="create">
            </div>
        </form>
        <form class="cancel" action = "{% url 'project-info' project=project.id %}" method="post">
            {% csrf_token %}
            <div style="text-align: center;">
                <button id="cancel" type="submit">Cancel</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}

</html>