<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create Project{% endblock %}</title>
</head>

{% block content %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'createProject/createProject.css' %}">

{% block header %} CREATE PROJECT {% endblock %}
    <div class="container">
        <form action="{% url 'create-project' %}" method="post">
            {% csrf_token %}
            {{ err }}
            {% for field in form %}
                <p>
                    <b>{{field.label}} : </b><br>
                    <span id="field">{{field}}</span>
                </p>
            {% endfor %}
            <div style="text-align: center;">
                <input type="submit" value="Create" id="create">
            </div>
        </form>
        <form class="cancel" action = "{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <div style="text-align: center;">
                <button type="submit" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}

</html>