<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracker Dashboard{% endblock %}</title>
    {% block statics %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
{% block header %} {{ UserType }} {{ FirstName }} {% endblock %}
<div class="container">
    <h1 id="Temp">PROJECTS</h1>
    {% for project in Projects %}
        <div class="project">
            <h2><a href="#">{{ project.title }}</a></h2>
            <h3>Supervised By: {{ project.supervisor }}</h3>
            <h4>Due: {{ project.due_date }} {{ project.due_time }}</h4>
        </div>
    {% endfor %}
    {% if Authorized == "true"%}
        <form class="create-project" action = "{% url 'create-project' %}" method="post">
        {% csrf_token %}
        <button type="submit">Create Project</button>
      </form>
    {% endif %}

</div>
</body>
{% endblock %}
</html>