<!DOCTYPE html>
<html lang="en">
{% extends "newbase.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Assign Members{% endblock %}</title>
</head>
{% block content %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'assignMembers/assignMembers.css' %}">
    {% block header %} Assign Members to {{ Task.taskname }}{% endblock %}
    <div class="container">

        <form class="assign" action = "{% url 'delete-members' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <b>{{field.label}} : </b>
                    <span id="field">{{field}}</span>
                </p>
            {% endfor %}

                <button type="submit" id="assign" >Remove</button>

        </form>
        <form action = "{% url 'task-info' task=Task.id %}" method="post">
            {% csrf_token %}

                <button type="submit" id="back">Back</button>

        </form>
    </div>
</body>
{% endblock %}
</html>