<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracker Dashboard{% endblock %}</title>
</head>
{% block content %}
<body>
<style>
    .container{
        margin-top: 70px;
        margin-left: 300px;
    }
</style>
{% block header %} {{ AccountType }} {{ FirstName }} {% endblock %}
<div class="container">
    <div class="Project">
        <h2><a>{{ Project.title }}</a></h2>
        <h3>Supervised By: {{ Project.supervisor }}</h3>
        <h4>Due: {{ Project.due_date }} {{ Project.due_time }}</h4>
        <h4>Students:</h4>
        {% for student in Students %}
            <h5>- {{student}}</h5>
        {% endfor %}
        {% for t in Task %}
            <h3>{{ t }}</h3>
        {% endfor %}
    </div>
    
</div>
</body>
{% endblock %}
</html>