<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracker Dashboard{% endblock %}</title>
</head>
{% block content %}
<body>
<style>
    .container{
        margin-top: 70px;
        margin-left: 300px;
    }
</style>
{% block header %} {{ AccountType }} {{ FirstName }} {% endblock %}
<div class="container">
    <div class="Project">
        <h2><a>{{ Project.title }}</a></h2>
        <h3>Supervised By: {{ Project.supervisor }}</h3>
        <h4>Due: {{ Project.due_date }} {{ Project.due_time }}</h4>
        <h4>Students:</h4>
        {% for student, time in Data %}
            <h5>- {{student}}</h5>
            <h4 style="background-color:yellow; width: calc(100% * {{time}} / 110);">|</h4>
        {% endfor %}
        <h3> Tasks: </h3>
        {% for t in Tasks %}
            <h4><a href="/dashboard/task-info/{{ t.id }}/">{{ t }}</a></h4>
        {% endfor %}
        {% if checkTeacher == False %}
            <button onclick="location.href = '/dashboard/create-task/'">
                Create New Task
            </button>
        {% endif %}
    </div>
    {% if checkTeacher == True %}
    <h4><a href="/dashboard/assign-students/{{ Project.id }}/">Add Student to Project</a></h4>
{#    <form class="assign-students" action = "{% url 'assign-students/{{ Project.id }}/' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <button id="add-button" type="submit">Add Students to Project</button>#}
{#    </form>#}
    {% endif %}
    
</div>
</body>
{% endblock %}
</html>