<!DOCTYPE html>
<html lang="en">
{% extends "newbase.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Remove Students{% endblock %}</title>
</head>
{% block content %}
<body>
    <style>
        .container{
            margin-top: 70px;
            margin-left: 300px;
        }
    </style>
    {% block header %} Remove Students from {{ Project.title }} {% endblock %}
    <div class="container">
        <form class="remove" action = "{% url 'remove-students' project_id=Project.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Remove</button>
        </form>
        <h4 style="color: red">{{ err }}</h4>
        <form class="back" action = "{% url 'project-info' project=Project.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Back</button>
        </form>
    </div>
</body>
{% endblock %}
</html>