<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracker Dashboard{% endblock %}</title>
</head>
{% block content %}
<body>
<style>
    .container{
        margin-top: 70px;
        margin-left: 300px;
    }

</style>
{% block header %} Student {{ FirstName }} {% endblock %}
<div class="container">
    <h1 id="Temp">PROJECTS</h1>
    {% for project in Projects %}
        <div class="project">
            <h2><a href="#">{{ project.title }}</a></h2>
            <h3>Supervised By: {{ project.supervisor }}</h3>
            <h4>Due: {{ project.due_date }} {{ project.due_time }}</h4>
        </div>
    {% endfor %}

</div>
</body>
{% endblock %}
</html>