{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
{% load crispy_forms_tags %}
{% block content %}
<body>
<style>
    #title{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
    }
    .container{
        /*background-color: #b3b7bb;*/
        margin-top: 50px;
        margin-left: 300px;
    }
    .data{
        background-color: #D3D3D3;
        display: inline-block;
        width: 300px;
        font-size: 18px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
</style>
<p id="title"><b>Your Account</b></p>
{% block header %} Your Account {% endblock %}
<div class="container">
    <p style="font-size: 30px; text-transform: uppercase; margin-bottom: -25px"><b>{{user}}</b></p>
    <p style="font-size: 25px; margin-bottom: 50px">{{ UserType }}</p>
    <p></p>
    <p style="font-size: 18px">Account Type :</p>
    <p class = "data">{{UserType}}</p>
    <p style="font-size: 18px">First name :</p>
    <p class = "data">{{user.first_name}}</p>
    <p style="font-size: 18px">Last name  :</p>
    <p class = "data">{{user.last_name}}</p>
    <p style="font-size: 18px">Email      :</p>
    <p class = "data">{{user.email}}</p>
</div>
</body>
{% endblock %}