<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signin/style.css' %}">
<head>
    <title>Terbul Tracker Sign In</title>
	<meta charset="utf-8"/>
</head>
<body>
<input type="hidden" id="signupFail" name="signupFail" value="{{ signupFail }}">
<h1>TERBUL Tracker</h1>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post">
			<h1>Create Account</h1>
            {% csrf_token %}
            {% for field in signupform %}
                <p>
                    {{ field }}
                </p>
                {% for error in field.errors %}
                    <p style="color: red; font-size: 10px">{{ error }}</p>
                {% endfor %}
            {% endfor %}
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST">
			<h1>Sign in</h1>
            {% csrf_token %}
            {% for field in signinform %}
                <p>
                    {{ field }}
                </p>
                {% for error in field.error %}
                    <p style="color: red">{{ error }}</p>
                    <alert>error</alert>
                {% endfor %}
            {% endfor %}
			{% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
        	{% endif %}
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
                <p>Already have an account?</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
                <p>Don't have an account?</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'signin/script.js' %}"></script>
</body>