{% extends 'headnav.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>
<style>
    #title{
        font-size: 30px;
        text-align: center;
        margin-top: 70px;
    }
    .container{
        /*background-color: #b3b7bb;*/
        margin-top: 60px;
        margin-left: 300px;
    }
    .data{
        background-color: #D3D3D3;
        display: inline-block;
        width: 300px;
        font-size: 18px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
</style>
{% include 'loggedin.html' %}
<p id="title"><b>Teacher Dashboard</b></p>
</body>
{% endblock %}