{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<body>
<link rel="stylesheet" type="text/css" href="{% static 'account/account.css' %}">
<p id="title"><b>Your Account</b></p>
{% block header %} Your Account {% endblock %}
<div class="container">
    <p style="font-size: 30px;  margin-bottom: -25px"><b>Welcome to Your Profile Page!</b></p>
    <p style="font-size: 25px; margin-bottom: 50px">{{FullName}}</p>
    <p></p>
    <p id="subheading">Account Type :</p>
    <p class = "data">{{UserType}}</p>
    <p id="subheading">First name :</p>
    <p class = "data">{{user.first_name}}</p>
    <p id="subheading">Last name  :</p>
    <p class = "data">{{user.last_name}}</p>
    <p id="subheading">Email      :</p>
    <p class = "data">{{user.email}}</p>
</div>
</body>
{% endblock %}