<!DOCTYPE html>
<html lang="en">
{% extends 'newbase.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tracker Dashboard{% endblock %}</title>
</head>
{% block content %}
<body>
<style>
    #title{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
    }
    .container{
        margin-top: 50px;
        margin-left: 300px;
    }

</style>
<p id="title"><b>Something</b></p>
<div class="container">
    <h1 id="Temp">PROJECTS WILL APPEAR HERE</h1>
</div>
</body>
{% endblock %}
</html>