<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'newbase/newbase.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <header>
        <h1 class="myName">{{FullName}}</h1>
        <ul>
            <li>
                <a href="{% url 'signout' %}">
                    <div class="icon">
                        <i class="fas fa-sign-out-alt fa-lg"></i>
                    </div>
                    <div class="name">Sign Out</div>
                </a>
            </li>

            <li>
                <a href="{% url 'profile' %}">
                    <div class="icon">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="name">My Profile</div>
                </a>
            </li>

            <li>
                <a href="{% url 'dashboard' %}">
                    <div class="icon">
                        <i class="fas fa-project-diagram fa-lg"></i>
                    </div>
                    <div class="name">My Projects</div>
                </a>
            </li>
        </ul>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>