<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
</head>
<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="center">
            <h3 style="text-align: center">Welcome User</h3>
        </div>
    </header>
    <div class="sidebar">
        <center>
            <img src="pngwave.png" class="profile_image">
            <h4>User Name</h4>
        </center>
        <a href="#" id="projects"><i class="fas fa-project-diagram"></i><span>My Projects</span></a>
        <a href="#" id="signout"><i class="fas fa-sign-out-alt"></i><span>Sign Out</span></a>
    </div>

    <div class="content">

    </div>
</body>
</html>