@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.myName{
    color: white;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

header{
    position: fixed;
    background: rgba(2, 7, 93, 1);
    padding: 20px;
    width: 100%;
    z-index: 10;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    float: right;
    margin: 0 50px 0 0;
}

ul li a:hover{
    color: rgba(146, 174, 221, 1);
}

.icon{
    text-align: center;
    padding-bottom: 10px;
    margin-top: -20px;
}